[submodule "leetcode"]
	path = leetcode
	url = https://github.com/AFrenchWrench/Leetcode.git
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/AFrenchWrench/Algorithm.git
[submodule "computer-101"]
	path = computer-101
	url = https://github.com/AFrenchWrench/Computer-101.git
